.button {
    position: absolute;
    bottom: 20px;
    right: 30px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s, border-color 0.3s;
    width: 250px;
  }
  
  .button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 1);
  }
  