.button {
  position: absolute;
  bottom: 20px;
  right: 30px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: rgba(0, 0, 51, 0.6); /* Dark blue background */
  color: #00ccff; /* Light blue text color */
  border: 2px solid rgba(0, 0, 51, 0.5); /* Dark blue border */
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s, border-color 0.3s;
  width: 100px;
}

.button:hover {
  background-color: rgba(0, 0, 51, 0.8); /* Darker blue on hover */
  border-color: rgba(0, 0, 51, 1); /* Solid dark blue on hover */
  color: #ffffff; /* White text on hover */
}
