.card {
    width: 30vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffff;
    padding: 20px 20px 40px 40px; /* Increased bottom padding to 40px */
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligned content to start from the top */
    transition: left 1s ease;
    overflow-y: auto; /* Added scroll in case content exceeds the sidebar height */
}

.card.visible {
    left: 0;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

b {
    color: aqua;
}

p {
    text-align: justify;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px; /* Added margin to create more space below the list */
}

ul li {
    margin: 15px 0;
}

ul li button {
    background: none;
    border: none;
    color: aqua;
    cursor: pointer;
    font-size: 1.2em;
    text-align: left;
    padding: 0;
}

ul li button:hover {
    text-decoration: underline;
}

.content {
    margin-top: 20px;
    padding-bottom: 50px; /* Added padding-bottom to give more space at the bottom */
}
