#threejs-container {
    display: none;
    /* Initially hidden until loading is complete */
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -1;
}

#start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
}

#hover-info {
    position: absolute;
    color: white;
    top: 85%;
    left: 50%;
    font-size: 24px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Dosis', sans-serif;
    background: #000000;
}

#listContainer {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    /* Optional: Add some background with transparency */
    padding: 20px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    /* Remove bullet points */
    padding: 0;
    margin: 0;
}

ul li {
    color: white;
    font-size: 18px;
    margin: 10px 0;
}

.hamburger-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.menu-toggle {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.menu-content {
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 40px;
    left: 0;
    padding: 10px;
    border-radius: 5px;
}

.menu-content ul {
    list-style: none;
    padding: 0;
}

.menu-content li {
    margin: 10px 0;
    font-size: medium;
}

.menu-content a {
    color: white;
    text-decoration: none;
}

.menu-content a:hover {
    text-decoration: underline;
}

/* Search Bar */
.search {
    position: absolute;
    top: 20px;   /* Adjust to fit the layout */
    right: 20px;  /* Adjust to fit the layout */
    display: flex;
    align-items: center;
    width: 300px;
    z-index: 50;
    background-color: white;  /* Add a background color to ensure it's visible */
  }
  
  .search__input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding-left: 40px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    transition: box-shadow 0.3s ease;
  }
  
  .search__icon {
    position: absolute;
    left: 10px;
    font-size: 20px;
    color: #666;
  }
  
  
  .search__input::placeholder {
    color: #999;
  }
  
  .search__input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .search__input:focus + .search__icon {
    color: #007bff;
  }
  